<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    
    <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark">User Management System</a>
                    </div>
                </div>
            </nav>
        </header>
    <!-- /Header -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i>All users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Use the below form to create a new account</span>
            </div>



            <form method="POST" id="update_user">
              <div class="new_user">
                <div class="form-group">
                    <label for="ID" class="text-light">ID</label>
                    <input type="text" name="ID" values="" placeholder="1">
                </div>
                <div class="form-group">
                    <label for="First Name" class="text-light">First Name</label>
                    <input type="text" name="First Name" values="" placeholder="User">
                </div>
                <div class="form-group">
                    <label for="Last Name" class="text-light">Last Name</label>
                    <input type="text" name="Last Name" values="" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="Email" class="text-light">Email</label>
                    <input type="text" name="Email" values="" placeholder="abc@gmail.com">
                </div>
                <div class="form-group">
                    <label for="Department" class="text-light">Department</label>
                    <input type="text" name="Department" values="" placeholder="Marketing">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Saves</button>
                </div>
              </div>  
            </form>
        </div>
    </main>
</body>
</html>
